*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // set base font to 10px, 16px * 0.625 = 10px
  box-sizing: border-box;
}

// custom scrollbar style
body::-webkit-scrollbar {
  width: 0.4rem;
  font-family: 'Quicksand', sans-serif;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}